<!DOCTYPE html>
<html>
	{% with title = restaurant.name + " menu" %}
		{% include "partials/head.html" %}
	{% endwith %}

	<body>
		{% with nav_elems = [(restaurant.name, url_for('show_menu', restaurant_id=restaurant.id), "active")] %}
			{% include "partials/navigation.html" %}
		{% endwith %}

		<div class="container">
			{% include "partials/flash.html" %}

			<h1>{{ restaurant.name }}</h1>
			
			<div class="media marginBottom-10px">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="{{creator.picture}}" alt="{{creator.name}}">
					</a>
				</div>
				<div class="media-body verticalAlign-middle">
					<h4 class="media-heading">Creator: {{creator.name}}</h4>
				</div>
			</div>
			
			<p>
				<a class="btn btn btn-primary"
				href="{{ url_for('new_menu_item', restaurant_id = restaurant.id) }}">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Create new menu item
				</a>
				<a class="btn btn btn-primary" 
				href="{{url_for('edit_restaurant',restaurant_id = restaurant.id)}}">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Edit
				</a>
				<a class="btn btn-warning" 
				href="{{url_for('delete_restaurant',restaurant_id = restaurant.id)}}">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Delete
				</a>
				<a class="btn btn btn-default" href="{{url_for('show_restaurants')}}">Go back</a>
			</p>

		{% if items == [] %}
			<p>
				There are no menu items currently
			</p>
		{% else %}
			<div class="row">
				{% for i in items %}

					<div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
						<div class="thumbnail">
							<img style="height: 200px; width: 100%; display: block;"

							{% if i.image %}
								src="/uploads/{{ i.image }}"
							{% else %}
								src="/static/empty.png"
							{% endif %}
							>
							<div class="caption">
								<h3>{{i.name}}</h3>
								<p class="text-grayed">{{i.description}}</p>
								<div class="item-price">
									<span>{{i.price}}</span>
								</div>
								<p class="marginBottom-0">
									<a class="btn btn-xs btn-primary" href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a>
									<a class="btn btn-xs btn-warning"href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a>
								</p>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		</div>

		
	</body>
</html>